*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: max-content max-content 1fr;
}

header {
    background-color: rgb(120, 120, 174);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.header__text {
    font-size: 2.5rem;
    padding: 15px 25px;
    text-align: center;
}

.addButton__section {
    /* border: 2px solid green; */
    margin: 1.5rem auto;
}

#addButton,
form button {
    font-size: 1.5rem;
    border-style: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgb(120, 120, 174);
    color: white;
}

button {
    cursor: pointer;
}

#addButton:hover {
    background-color: rgb(66, 188, 131);
}

.container {
    width: 80vw;
    /* border: 2px solid yellow; */
}

.main {
    display: flex;
    justify-content: center;
    height: 100%;
}

.main .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.books {
    height: 100%;
    /* border: 2px solid deeppink; */
    gap: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
    background-color: rgb(66, 188, 131);
    border-radius: 20px;
    color: white;
    font-size: 19px;
    font-weight: bold;
    /* border: 2px solid red; */
    padding: 1rem;
}

.card button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-style: none;
    padding: 8px;
    border-radius: 10px;
}

.delete {
    margin-right: 1rem;
    min-width: 100px;
    background-color: red;
}

.readStatus {
    background-color: #b8dd58;
    min-width: 100px;
}

dialog {
    background-color: rgb(66, 188, 131);
    border-radius: 20px;
    font-size: 15px;
}

form,
input,
form button {
    font-size: 20px;
}

form button:hover {
    background-color: #b8dd58;
}

input {
    margin-bottom: .5rem;
    border: none;
    border-radius: 5px;
}